simpleaudio==latest #Je dois savoir quelle librairie utiliser en fonction de ce qui marchera selon la version de python (simpleaudio, puresound, winaudio, pygame etc...)
tkinter==latest
random==latest
